.header {
    background-color: #A43820;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5px
}

.headerIcon {
    width: 50%;
    height: 50%
}

.logo_h1 {
    display: flex;
    align-items: center;
    font-size: small;
}

.logo_h1 h1 {
    margin-left: 10px;
}