.searchInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchInput button {
    margin-left: 10px;
    border-radius: 15px;
    background-color: #F1D3B2;
    color: #46211A;
}

.searchInput input {
    min-width: 300px;
    border-radius: 15px;
    background-color: #F1D3B2;
    color: #46211A;
    padding: 0 10px;
}