.post {
    border: 1px solid #A43820;
    margin: 20px 0;
    border-radius: 10px;
}

.postHeader {
    background-color: #A43820;
    color: #F1D3B2;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.subredditIcon {
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.subreddit_icon_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postImage {
    width: 500px;
}

.postAuthor {
    font-weight: bold;
}

.postBody {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}